# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/

# Test Results
TestResults/

# NuGet
*.nupkg
packages/

# Local secrets
appsettings.Development.json
secrets.json

# Environment files
.env
.env.*

# EF Core Local Database (لو بتستخدم SQLite)
*.db
*.db-shm
*.db-wal